*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    height: 100vh;
    background-color:#0293C9 ;
}

.center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.shadow {
    box-shadow: 5px 5px 28px 0;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.11);
    border-radius: 20px;
    width: 579px;
}

.titulo{
    height: 50%;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
}

.restrita {
    color: yellow;
}

.super-restrita {
    color: red;
}

.valor {
    display: flex;
    align-items: center;
    height: 50%;
    font-size: 150px;
    background-color: rgba(185, 185, 185, 0.459);
    border-radius: 10px;
    padding: 20px;
}