*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color:#0293C9 ;
}

.center{
    display: flex;
    width: 60%;
    height: 70%;
    padding: 20px;
    gap: 20px;
}

.shadow {
    box-shadow: 5px 5px 28px 0;
}

.restrita{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
    justify-content: center;
    width: 50%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.11);
    border-radius: 20px;
}

.super{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
    width: 50%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.103);
    border-radius: 20px;
}

.titulo{
    height: 50%;
    width: 100%;
    background-color: yellow;
    border-radius: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 90px;
}

.tituloSuper{
    height: 50%;
    width: 100%;
    background-color: red;
    border-radius: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 90px;
}

.valorRestrita{
    height: 50%;
    width: 100%;
    background-color: rgb(185, 185, 185);
    border-radius: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200px;
}

.valorSuperRestrita{
    height: 50%;
    width: 100%;
    background-color: rgb(185, 185, 185);
    border-radius: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200px;
}